{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Interactive Periodic Table of Elements</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="" alt="The Periodic Table Logo" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Periodic Table</a></li>
          <li><a href="{% url 'element_detail' element_id=1 %}">Elements</a></li>
          <li><a href="{% url 'element_list' %}">View All Elements</a></li>
          <li><a href="{% url 'element_create' %}">Add Element</a></li>   
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
